{% extends '_partials/base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content%}


    <img src="{% static 'img/logo.png' %}" alt="logo">
    <h1 class="ui header">My Today Tasks</h1>
    {% include "_partials/messages.html" %}
    {% if todos %}
    <table class="ui table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Completed</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td>{{todo.title}}</td>
                <td>{{todo.description}}</td>
                <td>
                    {% if todo.is_completed %}
                    YES <i class="check icon green"></i>
                    {% else %}
                    NO
                    {% endif %}
                </td>
                <td>
                    <a href={% url 'todo' todo.pk  %} class="ui button">
                        <i class="eye icon"></i>
                    </a>
                    <a href={% url 'edit' todo.id %}  class="ui button">
                        <i class="pencil icon"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>
                <a href="?filter=all">All {{all_count}}</a> 
                </th>
                <th>
                <a href="?filter=incomplete">
                {{not_completed}} Remaining 
                </a> 
                </th>
                <th>
                    <a href="?filter=complete">
                {{completed}} Completed
        
                </a> 
                </th>
                <th></th>
                </tr>
            </tfoot>
        </table>
    </table>

    {% else %}

    <div class="ui message">
        <div class="header">
            No items yet
        </div>
        <p>You can create your first todo now <a href={% url 'create_todo' %}>Add new</a></p>
    </div>

    {% endif %}

{% endblock content%}